<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/head")%>
    <title>View Bookings page</title>
  </head>
  <body class = 'wrapper'>
    <%- include("../partials/nav_bar") %>
    <main>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>WorkShop Date</th>
            <th>WorkShop Time</th>
            <th>Date Booked</th>
          </tr>
        </thead>
        <tbody>
          <%- bookings.forEach(booking => { %>
            <tr>
              <td><%- booking.name %></td>
              <td><%- booking.ws_date %></td>
              <td><%- booking.ws_time %></td>
              <td><%- booking.date_booked %></td>
            </tr>
            
          <%- }); %>
        </tbody>
      </table>
    </main>
  </body>
</html>
