<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/head")%>
    <title>View Bookings page</title>
  </head>
  <body class = 'wrapper'>
    <%- include("../partials/nav_bar") %>
    <main>
      <div class="container">
      <table>
        <thead> 
          <tr>
            <th>Name</th>
            <th>Work Shop Date</th>
            <th>Work Shop Time</th>
            <th>Date Booked</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% bookings.forEach((booking) => { %>
            <tr>
              <td><%= booking.name %></td>
              <td><%= booking.ws_date.toDateString().split(" ")[1]+" "+booking.ws_date.toDateString().split(" ")[2]+" "+booking.ws_date.toDateString().split(" ")[3] %></td>
              <td><%= booking.ws_time %></td>
              <td><%= booking.date_booked.toDateString().split(" ")[1]+" "+booking.date_booked.toDateString().split(" ")[2]+" "+booking.date_booked.toDateString().split(" ")[3] %></td>
              <td>
                <a href="/view-booking/<%= booking._id %>/edit"><img src="/images/edit-icon.png" width="30" height="30"></a>
              </td>
              <td>  
                <form action="/view-booking/<%= booking._id %>/delete" method="post">
                    <button class="b1" type="submit"><img src="/images/bin.png" width="30" height="30"></button>
                </form>
              </td>
            </tr>
            
          <% }); %>
        </tbody>
      </table>
    </div>
    </main>
  </body>
</html>
